<div class="col-md-6 col-md-offset-3 ">
  <h3>Share Album</h3>
  <%= form_for @album_user do |f| %>

    <%= f.hidden_field :album_id, value: @album_id %>

    <div class="form-group text-left">
      <%= label_tag :username, "Invite by Username:" %>
      <%= text_field_tag :username %>
    </div>

    <div class=btn-group>
      <%= f.submit "Share Album", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
