<div class="col-md-6 col-md-offset-3 text-center">
  <h3><%= header %> Album</h3>
  <%= form_for album do |f| %>
    <div class="form-group text-left">
      <%= f.label :title %>
      <%= f.text_field :title, value: album.title, class: "form-control" %>
    </div>

    <div class="form-group text-left">
      <%= f.label :description %>
      <%= f.text_area :description, value: album.description, class: "form-control" %>
    </div>

    <div class="form-group text-left">
      <label for="switch">Album Premissions</label>
      <div class="toggle-switch">
        <input id="switch" type="checkbox" name="access" checked="false" data-size="large" data-on-text="Private" data-off-text="Public">
      </div>
    </div>

    <%= f.hidden_field :public, id: "hidden-permission" %>

    <div class=btn-group>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">

  $("[name='access']").bootstrapSwitch('state', $('#hidden-permission').val())

  $('input[name="access"]').on('switchChange.bootstrapSwitch', function(event, state) {
    $('#hidden-permission').val(!state)
    console.log($('#hidden-permission').val())
  });

</script>
