<div class="nabbar-default">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "Turing Photoshare", root_path, class: "navbar-nav-item nav-link" %></li>
    <li role="presentation"><%= link_to "Login", login_path, class: "nav-item nav-link navbar-right" %></li>
    <li role="presentation"><%= link_to "Create Account", new_user_path, class: "nav-item nav-link navbar-right" %></li>
    <li role="presentation"><%= link_to "Logout", logout_path, method: :delete, class: "nav-item nav-link navbar-right" %></li>
    <li role="presentation"><%= link_to "My Albums", '/my_albums', class: "nav-item nav-link navbar-right" %></li>
  </ul>
</div>
