<h3><%= user.username %></h3>
<h5>Profile info:</h5>
<% if user.active %>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <%= render 'shared/user_profile_row', key: "Email", value: user.user_profile.email %>
      <%= render 'shared/user_profile_row', key: "Phone", value: user.phone_number %>
      <%= render 'shared/user_profile_row', key: "Bio", value: user.user_profile.bio %>
    </table>
  </div>
</div>

<div class="row btn-group">
  <%= link_to "Edit profile", edit_user_profile_path(user.user_profile), class: "btn btn-primary" %>
  <%= link_to "Generate API Token", "/users/#{user.id}", method: :patch, class: "btn btn-default" %>
</div>
