<p><%= @album.title %></p>
<p><%= @album.description %></p>
<%= link_to "Add Photo", new_photo_path(album_id: @album.id) %>
<% @album.photos.each do |photo| %>
  <%= render 'shared/photo_tile', photo: photo %>
<% end %>
<h2>Album Comments</h2>
<% @album.comments.each do |comment| %>
<div class="comment_tile">
  <p>
    <b>Author:</b>
    <%= User.find(comment.user_id).username %>
  </p>

  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
  <p>
    <b>Created At:</b>
    <%= comment.created_at %>
  </p>
  <%= link_to "Delete Comment", album_comment_path(@album, comment), method: :delete %>
  <%= link_to "Edit Comment", edit_album_comment_path(@album, comment) %>
</div>
<% end %>
<%= form_for ([@album, @album.comments.build]) do |f| %>
<%= f.label :body, 'Comment' %>
<%= f.text_field :body %>
<%= f.submit "Add Comment" %>
<% end %>
