<div class="container album">
  <div class="col-md-12">
    <h3><%= @album.title %></h3>
    <p><%= @album.description %></p>
    <p class="small"><%= @album.display_users.join %></p>
    <% @album.photos.each do |photo| %>
      <%= render 'shared/photo_tile', photo: photo %>
    <% end %>
  </div>

  <div class="container row">
    <div class="col-md-12">
      <div class="album-button-bar btn-group">
        <% if @album.permitted?(current_user) %>
        <%= link_to "Add Photo", new_photo_path(album_id: @album.id), class: "btn btn-default btn-sm" %>
        <% end %>
        <%= link_to "Share Album", new_album_user_path(album_id: @album.id), class: "btn btn-default btn-sm" %>
        <%= render 'shared/album_delete' %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h4>Album Comments</h4>
    <div class="container panel-group">
      <% @album.comments.each do |comment| %>
        <div class="panel panel-default comment_tile">
          <div class="panel-body small">
            <div class="btn-group pull-right">
              <a href="/albums/<%= @album.id %>/comments/<%= comment.id %>/edit" class="edit-button btn btn-default btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
              <a href="/album/comments/delete?album_id=<%= @album.id %>&comment_id=<%= comment.id %>" class="delete-button btn btn-default btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </div>
            <div class="pull-left">
              <h6>Author: <%= User.find(comment.user_id).username %></h6>
              <p><%= comment.body %></p>
              <p class="small">Created: <%= distance_of_time_in_words_to_now(comment.created_at) %> ago</p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for ([@album, @album.comments.build]) do |f| %>
            <%= f.label :body, 'Comment' %>
            <%= f.text_area :body, :class => "form-control" %>
            <%= f.submit "Add Comment", :class => "btn btn-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
